@model Hospital.Models.Doctor

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Doctor</h4>
    <hr />
    <div class="row">
        <img src="@Model.Avatar" alt="" class="w-25">
    </div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CityOfWork)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CityOfWork)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PlaceOfWork)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlaceOfWork)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CostOfAdmission)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CostOfAdmission)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TypeOfDoctor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TypeOfDoctor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Experience)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Experience)
        </dd>
    </dl>
</div>
<div class="row">
    <a href="/booking/create/@Model.Id">
        <button class="btn btn-primary">
            Reserve
        </button>
    </a>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>